langchain==0.3.25
langchain-openai==0.3.16
langchain-core==0.3.59
langchain-community==0.3.24
docx2txt==0.9
pypdf==5.5.0
langchain-chroma==0.2.3
python-multipart==0.0.20
fastapi==0.115.12
uvicorn==0.34.2
